# # Python cache files
# __pycache__/
# *.pyc
# *.pyo
# *.pyd

# # Virtual environments
# mini_e_venv/
# venv/
# .env/

# # Environment configuration
# *.env

# # VSCode or editor settings (optional)
# .vscode/
# .idea/

# # Logs
# *.log

# # Alembic files
# alembic/
# alembic.ini